<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Index</title>
</head>
<body>

  <h1>Handlebars</h1>
  <ul>
    {{#each users as |user|}}
    <li><a href="/{{user.username}}">{{user.name.full}}</a></li>
    {{/each}}
  </ul>
  
</body>
</html>
